
body {
    color: white;
    background-color: black;
    font-family: 'Raleway';
    font-weight: 100;
}

/* Navbar */

.navbar {
    background-color: rgb(47, 155, 167);
}

.navbar a {
    color: white;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

.viajes-svg {
    width: 20px;
}

/*Quiénes somos*/

#quienes-somos i {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  rgb(89, 202, 240);
        font-size: 24px;
    }

@media (max-width: 576px) {
    #quienes-somos {
        display: none;
    }
}

/* Cards */

.card-img-top {
    width: 100%;
    min-height: 120px;
    max-height: 150px;
}

.card {
    background-color:  rgb(89, 202, 240);
    color: #ffffff;

}


#contacto button {
    background-color: rgb(89, 202, 240);
    border: #ffffff;
}

/* Footer */
footer {
    background-color: rgb(89, 202, 240);
}

footer a {
        text-decoration: none;
        color: inherit;
        font-size: 24px
}